.header-option {
    display: inline-block;
    font-size: 1.25rem;
    width: 50%;
}

.right-option{
    text-align: right;
}

.board-header{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1rem;
}

.option-bar{
    border: purple 1px solid;
    margin-left: auto;
    margin-right: auto;
}

/* --- Responsive Design --- */

@media only screen and (min-width: 640px) {
    .option-bar{
        width: 75%;
    }
}

@media only screen and (min-width: 800px) {

}

@media only screen and (min-width : 992px) {

}


@media only screen and (min-width : 1200px) {

}

@media only screen and (min-width : 1400px) {

}